.container {
  position: relative;
  background: #2c3e50;
  height: 50vh;
}

.wave {
  position: absolute;
  height: 70px;
  width: 100%;
  background: #2c3e50;
  bottom: 0;
}

.wave::before, .wave::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
}

.wave::before {
  width: 55%;
  height: 109%;
  background-color: #fff;
  right: -1.5%;
  top: 60%;
}
.wave::after {
  width: 55%;
  height: 100%;
  background-color: #2c3e50;
  left: -1.5%;
  top: 40%;
}
/*↑wave*/

/* Reset some default styles */
body {
  /*background-color:#9c834f;*/ 
  margin: 0;
  padding: 0;
  cursor: pointer;
}



/* Center the content */
#popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}


/* Style the toggle buttons container */
#toggle-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}

/* Style the individual toggle buttons */
.toggle {
  width: 10%; /* 6つのトグルボタンが等間隔になるように調整 */
  margin: 0.5%;
  height: 20px;
  padding: 8px ;
  text-align: center;
  cursor: pointer;
  border: 2px solid #4F3926;
  color: #9A7252;
  background-color: #F2E2CE;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 10px; /* 角を丸める */
}

.toggle.active {
  background-color: #ac832a;
  color: #fff;
}

/* Style the search input and button */
#searchInput {
  width: 20%;
  height:6%;
  /* 上辺10px、右側20px、下辺15px、左側30pxの余白を指定 */
  margin: 3% 40% auto 40%;
  padding: 0.7%;
  font-size: 14px;
  text-align: center;
  border-radius: 10px; /* 角を丸める */
}

#searchButton {
  width: 20%;
  height: 9%;
  margin: 2% 40% auto 41%;
  padding: 0.7%;
  text-align: center;
  cursor: pointer;
  font-size: 22px;
  border: none;
  text-shadow: 2px 2px 2px rgb(70, 54, 3);
  
  color: #fff; /* フォントカラー */
  transition: all 0.3s;
  border-radius: 56px;
  background: #9c834f;
  box-shadow:  -31px 31px 61px #856f43,
             31px -31px 61px #b3975b;
  
}

#searchButton:hover {
  background-color: #8b6a0e;
  cursor: default;
}

/* Add box shadow to the search input and button for depth */
#searchInput, #searchButton {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 影を追加 */
}

#searchHistory {
  width: 80%;
  height: 9%;
  background-color: #f2f2f2; /* 背景色を灰色に設定 */
  padding: 10px; /* 内部余白を追加 */
  border: 1px solid #ddd; /* ボーダーを追加 */
  border-radius: 5px; /* ボーダーの角を丸める */
  margin-top: 20px; /* 上部のマージンを追加 */
  font-size: 15px;
  margin: 2% 10% auto 11%;
}

.history {
  list-style-type: square; /* リストアイテムのマーカーを正方形にする */
  margin: 5px 0; /* リストアイテム間の上下のマージンを追加 */
  padding: 3px; /* リストアイテムの内部余白を追加 */
  font-size: 15px;
}

/* これをCSSに追加 */
#searchHistoryPanel {
  position: fixed;
  top: 0;
  left: -300px; /* 最初は画面外に非表示にする */
  width: 300px;
  height: 100%;
  background-color: #f0f0f0;
  transition: left 0.3s ease-in-out;
}

/* ボタンのスタイル */
.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 30px;
  height: 30px;
}

/* 横棒のスタイル */
.bar {
  width: 100%;
  height: 4px;
  background-color: #000; /* 横棒の色 */
  border-radius: 2px; /* 角丸 */
}


#toggleSearchHistory {
  position: fixed;
  top: 20px;
  left: 20px;
  cursor: pointer;
}


#results-container {
  width: 80%;
  height: 9%;
  background-color: #a57a1d;; /* 背景色を灰色に設定 */
  padding: 10px; /* 内部余白を追加 */
  border: 1px solid #ddd; /* ボーダーを追加 */
  border-radius: 5px; /* ボーダーの角を丸める */
  margin-top: 20px; /* 上部のマージンを追加 */
  font-size: 15px;
  margin: 2% 10% auto 11%;
}

